* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 14rem;
}

body {
  background-color: #000222;
  color: #F8FCFF;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.main-section {
  margin-bottom: 8rem;
  padding: 0 2rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.icons .icon-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.icons .icon-container .icon {
  -o-object-fit: contain;
     object-fit: contain;
}

.hidden {
  display: none;
}

h1, h2, h3 {
  font-family: "Climate Crisis", arial, sans-serif;
  font-weight: 100;
  word-wrap: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
}

h3, h4, .undertitle {
  font-size: 20px;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h4 {
  font-family: "DM Sans", arial, sans-serif;
  font-weight: 600;
}

p, li {
  font-family: "DM Sans", arial, sans-serif;
  font-weight: 200;
}

a {
  color: #F8FCFF;
  text-decoration: none;
}

a:hover {
  color: #8FCFFF;
}

.cursive {
  font-family: "Aguafina Script", arial, sans-serif;
  font-size: 30px;
  letter-spacing: 0.15em;
}

header {
  min-height: 100vh;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000222;
  width: 100%;
  padding: 2rem;
  position: fixed;
  z-index: 100;
  filter: drop-shadow(0 5px 100px rgba(255, 255, 255, 0.5));
}
header nav .logo {
  max-width: 3rem;
}
header nav #burger {
  color: #F8FCFF;
  font-size: 2rem;
}
header nav #nav-menu {
  display: none;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000222;
  padding-left: 2rem;
}
header nav #nav-menu.active {
  display: flex;
}
header nav #nav-menu li {
  font-family: "Climate Crisis", arial, sans-serif;
  font-size: 35px;
  list-style-type: none;
}
header #hero {
  padding: 12rem 2rem;
}
header #hero .cursive {
  color: #91FF72;
}

@media screen and (min-width: 700px) {
  header nav {
    padding: 2rem 4rem;
  }
  header nav .logo {
    max-width: 4rem;
  }
  header nav #burger {
    display: none;
  }
  header nav #nav-menu {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    height: auto;
    background: none;
    padding-left: 0;
  }
  header nav #nav-menu li {
    font-size: 25px;
  }
  header #hero {
    padding: 15rem 4rem;
  }
}
@media screen and (min-width: 1200px) {
  header nav .logo {
    max-width: 6rem;
  }
  header nav #nav-menu li {
    font-size: 35px;
  }
}
#intro-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#intro-section p {
  text-align: center;
}
#intro-section #cards-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}
#intro-section #cards-container .card {
  border-radius: 10px;
  background-color: #F8FCFF;
  color: black;
  padding: 4rem;
  position: relative;
}
#intro-section #cards-container .card img {
  max-width: 5rem;
  position: absolute;
  right: 10%;
}

#skills-section {
  display: grid;
  gap: 4rem;
}
#skills-section .cursive {
  color: #8FCFFF;
}
#skills-section .skill-category {
  text-align: center;
}
#skills-section .skill-category .icons {
  padding-top: 2rem;
}
#skills-section .skill-category .icons .icon {
  max-width: 3rem;
}

#projects-section #projects-intro {
  margin-bottom: 4rem;
}
#projects-section .cursive {
  color: #FF8687;
}
#projects-section #projects-container {
  display: grid;
  gap: 4rem;
  margin-bottom: 4rem;
}
#projects-section #projects-container .link-sticker {
  display: flex;
  justify-self: flex-end;
  margin-top: 2rem;
}
#projects-section #projects-container .link-sticker img {
  max-width: 5rem;
}
#projects-section #projects-container .project-content {
  display: grid;
  gap: 2rem;
}
#projects-section #projects-container .project-content .main-img, #projects-section #projects-container .project-content .sec-img {
  width: 100%;
  border-radius: 5px;
}
#projects-section #projects-container .project-content .sec-img {
  max-width: 30rem;
}
#projects-section #projects-container .project-content .sec-content {
  display: grid;
  gap: 2rem;
}
#projects-section #projects-container .project-content .sec-content img:nth-of-type(2) {
  grid-area: 4/1/5/2;
}
#projects-section #projects-container .project-content .icons .icon {
  max-width: 2rem;
}

#abt-section #abt-intro {
  margin-bottom: 4rem;
}
#abt-section #abt-intro .cursive {
  color: #91FF72;
}
#abt-section #abt-container {
  display: grid;
  gap: 4rem;
}
#abt-section #abt-container .abt-content img {
  width: 100%;
  margin-bottom: 2rem;
}

footer {
  border-top: 1px solid grey;
  border-radius: 20px;
  display: grid;
  gap: 2rem;
  padding: 2rem;
}
footer #footer-title {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}
footer #footer-title #footer-name p:first-of-type {
  font-family: "Climate Crisis", arial, sans-serif;
  font-size: 16px;
}
footer #footer-title #footer-name .cursive {
  font-size: 16px;
  color: #91FF72;
}
footer .logo {
  max-width: 3rem;
  -o-object-fit: contain;
     object-fit: contain;
}
footer #social-media img {
  max-width: 3rem;
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 60px;
  }
  .main-section {
    margin-bottom: 12rem;
    padding: 0 4rem;
  }
  #skills-section {
    gap: 8rem;
  }
  #projects-section #projects-container .project-content {
    gap: 3rem;
  }
  #projects-section #projects-container .project-content .main-img, #projects-section #projects-container .project-content .sec-img {
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #projects-section #projects-container .project-content .sec-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  #projects-section #projects-container .project-content .sec-content .sec-text {
    align-self: center;
  }
  #projects-section #projects-container .project-content .sec-content img:nth-of-type(2) {
    grid-area: 2/1/3/2;
  }
  #abt-section #abt-container .abt-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  #abt-section #abt-container .abt-content h3 {
    grid-area: 1/1/2/3;
  }
  #abt-section #abt-container .abt-content img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 100px;
  }
  h2 {
    font-size: 60px;
  }
  h3 {
    font-size: 40px;
  }
  h4 {
    font-size: 30px;
  }
  p, li {
    font-size: 20px;
  }
  .undertitle {
    font-size: 30px;
  }
  .cursive {
    font-size: 50px;
  }
  #skills-section .skill-category p {
    max-width: 60%;
    margin: 0 auto;
  }
  #skills-section .skill-category .icons .icon {
    max-width: 4rem;
  }
  #projects-section #projects-container .project-content .icons .icon-container .icon {
    max-width: 3rem;
  }
  #abt-section #abt-container .abt-content {
    grid-template-columns: 1fr 2fr;
  }
}
@media screen and (min-width: 1700px) {
  #projects-section #projects-intro {
    margin-bottom: 4rem;
  }
  #projects-section #projects-container .project-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  #projects-section #projects-container .project-content .sec-content img:nth-of-type(2) {
    grid-area: 2/1/3/2;
  }
  #projects-section #projects-container .project-content .icons {
    grid-area: 2/1/3/3;
  }
  #projects-section #projects-container .project-content .icons .icon-container .icon {
    max-width: 3rem;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .skill-category {
    scale: 0.5;
    opacity: 0;
    animation: fade-in forwards;
    animation-timeline: view();
    animation-range-start: entry;
    animation-range-end: 50%;
  }
  @keyframes fade-in {
    to {
      scale: 1;
      opacity: 1;
    }
  }
  .main-img, .sec-img {
    scale: 0.1;
    opacity: 0;
    animation: img-fade forwards;
    animation-timeline: view();
    animation-range-start: 10%;
    animation-range-end: 40%;
  }
  @keyframes img-fade {
    to {
      scale: 1;
      opacity: 1;
    }
  }
}/*# sourceMappingURL=style.css.map */