.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  padding: 1rem;
  border: 2px solid hsl(0, 0%, 90%);
  border-radius: 15px;
  width: 15rem;
  transition: 100ms ease-in-out;
}
.cta p {
  margin-bottom: 0;
  color: hsl(0, 0%, 90%);
  font-size: 1.25rem;
  font-style: italic;
}
.cta:hover {
  background-color: hsl(0, 0%, 90%);
}
.cta:hover p {
  color: #000222;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 2rem;
}

.icons__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.icon {
  -o-object-fit: contain;
     object-fit: contain;
}

@media (prefers-reduced-motion: no-preference) {
  .skills__section {
    scale: 0.5;
    opacity: 0;
    animation: fade-in forwards;
    animation-timeline: view();
    animation-range-start: entry;
    animation-range-end: 50%;
  }
  @keyframes fade-in {
    to {
      scale: 1;
      opacity: 1;
    }
  }
}
#header {
  min-height: 100vh;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000222;
  width: 100%;
  padding: 2rem;
  position: fixed;
  z-index: 100;
  filter: drop-shadow(0 5px 100px rgba(255, 255, 255, 0.5));
}
#navbar #navbar__logo {
  max-width: 3rem;
}
#navbar #navbar__burger {
  background: none;
  border: none;
  padding: 0;
}
#navbar #navbar__burger i {
  color: hsl(0, 0%, 90%);
  font-size: 2rem;
}
#navbar #navbar__menu {
  display: none;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000222;
  padding-left: 2rem;
}
#navbar #navbar__menu li {
  font-family: "Climate Crisis", arial, sans-serif;
  font-size: 1.75rem;
  list-style-type: none;
}
#navbar #navbar__menu.active {
  display: flex;
}

#hero {
  padding: 12rem 2rem;
}

@media screen and (min-width: 768px) {
  #navbar {
    padding: 2rem 4rem;
  }
  #navbar #navbar__logo {
    max-width: 4rem;
  }
  #navbar #navbar__burger {
    display: none;
  }
  #navbar #navbar__menu {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    height: auto;
    background: none;
    padding-left: 0;
  }
  #navbar #navbar__menu li {
    font-size: 1.5rem;
  }
  #hero {
    padding: 15rem 4rem;
  }
  #hero .cursive {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  #navbar #navbar__logo {
    max-width: 5rem;
  }
  #navbar #navbar__menu li {
    font-size: 1.75rem;
  }
}
#footer {
  display: grid;
  gap: 2rem;
  padding: 2rem;
}
#footer ul {
  padding: 0;
  list-style-type: none;
}

#footer__title {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

#footer__logo {
  max-width: 3rem;
  -o-object-fit: contain;
     object-fit: contain;
}

#footer__name p:first-of-type {
  font-family: "Climate Crisis", arial, sans-serif;
  color: hsl(0, 0%, 90%);
}
#footer__name .cursive {
  font-size: 1rem;
}

#social__icons {
  display: flex;
  gap: 1rem;
}
#social__icons img {
  max-width: 2.5rem;
}

@media screen and (min-width: 768px) {
  #footer {
    padding: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #footer__title {
    grid-area: 1/1/2/4;
  }
  #footer__logo {
    max-width: 4rem;
  }
  #footer__name p:first-of-type {
    font-size: 1.5rem;
  }
  #footer__name .cursive {
    font-size: 1.5rem;
  }
  #footer__social {
    margin: 0 auto;
  }
  #footer__social #social__icons {
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  #footer {
    padding: 8rem 4rem;
    gap: 2rem;
  }
}
@media screen and (min-width: 1400px) {
  #footer {
    padding: 8rem 12rem;
    gap: 4rem;
  }
  #footer__title {
    gap: 2rem;
  }
  #footer__logo {
    max-width: 5rem;
  }
  #footer__name p:first-of-type {
    font-size: 2rem;
  }
  #footer__name .cursive {
    font-size: 2rem;
  }
  #social__icons img {
    max-width: 3rem;
  }
}
#why {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1024px;
}

#skills {
  display: grid;
  gap: 4rem;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.skills__section {
  text-align: center;
}
.skills__section .icon {
  max-width: 3rem;
}

@media screen and (min-width: 768px) {
  #skills {
    gap: 4rem;
  }
  .skills__section p {
    max-width: 70%;
    margin: 0 auto;
  }
  .skills__section .icon {
    max-width: 3.5rem;
  }
}
#projects {
  display: grid;
  gap: 4rem;
}

#projects__container--some, #projects__container--all {
  display: grid;
  gap: 4rem;
}

.project__main {
  display: grid;
  gap: 2rem;
}
.project__main .icons {
  justify-content: flex-start;
  padding: 0;
}
.project__main .icon {
  max-width: 2.5rem;
}
.project__main .project__content {
  display: grid;
  gap: 2rem;
}

.project__img--main, .project__img--secondary {
  width: 100%;
  border-radius: 10px;
}

.project__img--secondary:nth-of-type(2) {
  grid-area: 4/1/5/2;
}

.link__sticker {
  display: flex;
  justify-self: center;
  margin-top: 2rem;
  transition: 100ms ease-in-out;
}
.link__sticker img {
  width: 12rem;
}
.link__sticker:hover {
  scale: 1.15;
}

@media screen and (min-width: 768px) {
  .project__main .project__content {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .project__img--main, .project__img--secondary {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .project__img--main {
    height: 60vh;
  }
  .project__img--secondary {
    height: 40vh;
  }
  .project__img--secondary:nth-of-type(2) {
    grid-area: 2/1/3/2;
  }
  #project__iba .project__img--secondary, #project__playbook .project__img--secondary {
    grid-area: 2/1/2/3;
  }
  #project__cameleon .project__img--secondary:nth-of-type(1) {
    grid-area: 1/1/2/2;
  }
  #project__data .project__img--secondary:nth-of-type(2) {
    grid-area: 2/2/3/3;
  }
}
@media screen and (min-width: 1400px) {
  .project__main .project__content {
    grid-template-rows: 40vh 40vh;
  }
  .project__main .icons {
    grid-area: 1/1/2/3;
  }
  .project__img--main, .project__img--secondary {
    height: 100%;
  }
  .link__sticker img {
    width: 16rem;
  }
  #project__iba .project__main {
    grid-template-columns: 1fr 3fr;
  }
  #project__iba .project__img--secondary {
    grid-area: 2/1/2/3;
  }
  #project__greywolf .project__main {
    grid-template-columns: 1fr 2fr;
  }
  #project__godset .project__main {
    grid-template-columns: 1fr 1.5fr;
  }
  #project__cameleon .project__main {
    grid-template-columns: 1fr 1.5fr;
  }
  #project__cameleon .project__content {
    grid-template-columns: 1fr 1.25fr;
  }
  #project__cameleon .project__img--secondary:nth-of-type(1) {
    grid-area: 1/1/2/2;
  }
  #project__data .project__main {
    grid-template-columns: 1fr 1.5fr;
  }
  #project__data .project__img--secondary:nth-of-type(1) {
    grid-area: 1/1/2/2;
  }
  #project__data .project__img--secondary:nth-of-type(2) {
    grid-area: 2/2/3/3;
  }
  #project__harald .project__main {
    grid-template-columns: 1fr 2fr;
  }
  #project__playbook .project__main {
    grid-template-columns: 1fr 2fr;
  }
  #project__playbook .project__img--secondary {
    grid-area: 1/1/2/3;
  }
}
#abt {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

#abt__title {
  margin-bottom: 4rem;
}

#abt__container {
  display: grid;
  gap: 4rem;
}

.abt__img {
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 2rem;
  border-radius: 10px;
  border: 2px solid hsl(0, 0%, 90%);
  filter: drop-shadow(5px 5px 20px rgba(255, 255, 255, 0.5));
}

@media screen and (min-width: 768px) {
  .abt__content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .abt__img {
    margin-bottom: 0;
    max-height: 50vh;
  }
}
@media screen and (min-width: 1024px) {
  .abt__img {
    height: 75vh;
  }
}
#contact {
  display: grid;
  gap: 4rem;
}

.contact__section {
  display: grid;
  gap: 2rem;
  max-width: 768px;
  margin: 0 auto;
}
.contact__section h2 {
  text-align: center;
}
.contact__section p, .contact__section li {
  font-size: 1rem;
}

#contact__intro img {
  margin: 0 auto;
}

#contact__container {
  text-align: center;
}
#contact__container p {
  font-size: 1rem;
  margin-bottom: 1em;
  color: hsl(0, 0%, 90%);
}

#cv__text {
  text-align: center;
  margin-bottom: 0.5em;
}

@media screen and (min-width: 768px) {
  .contact__section p, .contact__section li {
    font-size: 1.25rem;
  }
  #contact__container p {
    font-size: 2rem;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 14rem;
}

body {
  background-color: #000222;
  color: hsl(0, 0%, 90%);
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.main__section {
  margin-bottom: 50vh;
  padding: 0 2rem;
}

p, li {
  font-family: "DM Sans", arial, sans-serif;
  color: hsl(0, 0%, 70%);
  font-size: 1rem;
}

a {
  color: hsl(0, 0%, 90%);
  text-decoration: none;
}
a:hover {
  color: #91FF72;
}

.undertitle {
  color: hsl(0, 0%, 90%);
  font-style: italic;
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}

.cursive {
  font-family: "Aguafina Script", arial, sans-serif;
  font-size: 1.75rem;
  letter-spacing: 0.15em;
}

.cursive__red {
  color: #FF8687;
}

.cursive__green {
  color: #91FF72;
}

.cursive__blue {
  color: #8FCFFF;
}

h4 {
  font-family: "DM Sans", arial, sans-serif;
  font-weight: 600;
}

h3, h4 {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2.25rem;
}

h1 {
  font-size: 2.5rem;
}

h1, h2, h3 {
  font-family: "Climate Crisis", arial, sans-serif;
  font-weight: 100;
  word-wrap: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  .main__section {
    margin-bottom: 40vh;
    padding: 0 4rem;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 18px;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  .cursive {
    font-size: 2.5rem;
  }
  .undertitle {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 1400px) {
  html {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */