// VARIABLER ---------------------------------------------------
@import 'partials/variables';

// GENEREL STYLING ------------------------------------------

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 14rem;
}

body {
    background-color: $off-black;
    color: $off-white;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.main__section {
    margin-bottom: 8rem;
    padding: 0 $sm-space;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    padding: 1rem;
    border: 2px solid $off-white;
    border-radius: 15px;
    width: 15rem;
    transition: 100ms ease-in-out;

    p {
        margin-bottom: 0;
    }

    &:hover {
        color: $off-black;
        background-color: $off-white;
    }
}


// FONTS ----------------------------------------------------

h1, h2, h3 {
    font-family: 'Climate Crisis', arial, sans-serif;
    font-weight: 100;
    word-wrap: break-word;
    hyphens: auto;
}
h3, h4, .undertitle {
    font-size: 20px;
    margin-bottom: 0.5em;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 35px;
}
h4 {
    font-family: 'DM Sans', arial, sans-serif;
    font-weight: 600;
}
p, li {
    font-family: 'DM Sans', arial, sans-serif;
    font-weight: 200;
}
a {
    color: $off-white;
    text-decoration: none;

    &:hover {
        color: $light-blue;
    }
}
.cursive {
    font-family: 'Aguafina Script', arial, sans-serif;
    font-size: 30px;
    letter-spacing: 0.15em;
}
.cursive__red {
    color: $light-red;
}
.cursive__green {
    color: $light-green;
}
.cursive__blue {
    color: $light-blue;
}

// HEADER ----------------------------------------------
@import 'partials/header';

// CARDS -----------------------------------------------
@import 'partials/cards';

// HVAD KAN JEG? ------------------------------------------
@import 'partials/skills';
@import 'partials/icons';

// PROJEKTER -----------------------------------------
@import 'partials/projects';

// HVEM ER JEG? ---------------------------------------------------
@import 'partials/abt';

// FOOTER -------------------------------------------------
@import 'partials/footer';

@import 'partials/contact';

// MEDIA QUERIES --------------------------------------------
@media screen and (min-width: $bp-sm) {
    h1{
        font-size: 60px;
    }
    .main__section {
        margin-bottom: 12rem;
        padding: 0 $m-space;
    }
}

@media screen and (min-width: $bp-m) {
    h1 {
        font-size: 80px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 30px;
    }
    h4 {
        font-size: 25px;
    }
    p, li {
        font-size: 20px;
    }
    .undertitle {
        font-size: 25px;
    }
    .cursive {
        font-size: 40px;
    }
}
@media screen and (min-width: $bp-lg) {
    h1 {
        font-size: 100px;
    }
    h2 {
        font-size: 60px;
    }
    h3 {
        font-size: 40px;
    }
    h4 {
        font-size: 30px;
    }
    p, li {
        font-size: 20px;
    }
    .undertitle {
        font-size: 30px;
    }
    .cursive {
        font-size: 50px;
    }

    .cta {
        width: 20rem;
    }
}

// ANIMATIONER ------------------------------------------------------------------------------
@media (prefers-reduced-motion: no-preference) {
    .skills__section {
        scale: 0.5;
        opacity: 0;
        animation: fade-in forwards;
        animation-timeline: view();
        animation-range-start: entry;
        animation-range-end: 50%;
    }
    @keyframes fade-in {
        to {
            scale: 1;
            opacity: 1;
        }
    }

    // .project__img--main, .project__img--secondary {
    //     scale: 0.1;
    //     opacity: 0;
    //     animation: img-fade forwards;
    //     animation-timeline: view();
    //     animation-range-start: 10%;
    //     animation-range-end: 40%;
    // }
    // @keyframes img-fade {
    //     to {
    //         scale: 1;
    //         opacity: 1;
    //     }
    // }
}