// VARIABLER --------------------------------
@use 'abstracts' as abs;

// UI ELEMENTER ----------------------------
@use 'components/cta';

@use 'components/icons';

@use 'components/animations';

// HEADER & FOOTER ------------------------
@use 'layout/header';

@use 'layout/footer';

// SEKTIONER -----------------------------
@use 'sections/why';

@use 'sections/skills';

@use 'sections/projects';

@use 'sections/abt';

@use 'sections/contact';


// GENEREL STYLING ------------------------------------------
* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 14rem;
}

body {
    background-color: abs.$off-black;
    color: abs.$off-white;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.main__section {
    margin-bottom: 50vh;
    padding: 0 abs.$sm-space;
}


// FONTS -------------------------------------------------
p, li {
    font-family: abs.$font-normal;
    color: abs.$text-color;
    font-size: 1rem;
}

a {
    color: abs.$off-white;
    text-decoration: none;

    &:hover {
        color: abs.$light-green;
    }
}

.undertitle {
    color: abs.$off-white;
    font-style: italic;
    font-size: 1.25rem;
    margin-bottom: 0.5em;
}

.cursive {
    font-family: abs.$font-cursive;
    font-size: 1.75rem;
    letter-spacing: 0.15em;
}
.cursive__red {
    color: abs.$light-red;
}
.cursive__green {
    color: abs.$light-green;
}
.cursive__blue {
    color: abs.$light-blue;
}

// OVERSKRIFTER ---------------------------
h4 {
    font-family: abs.$font-normal;
    font-weight: 600;
}
h3, h4 {
    font-size: 1.25rem;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 1.75rem;
}
h1 {
    font-size: 2rem;
}
h1, h2, h3 {
    font-family: abs.$font-bold;
    font-weight: 100;
    word-wrap: break-word;
    hyphens: auto;
}
// GENERELLE MEDIA QUERIES --------------------------------------------
@media screen and (min-width: abs.$bp-sm) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3rem;
    }
    .main__section {
        margin-bottom: 40vh;
        padding: 0 abs.$m-space;
    }
}

@media screen and (min-width: abs.$bp-m) {
    html {
        font-size: 18px;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    .cursive {
        font-size: 2.5rem;
    }
    .undertitle {
        font-size: 1.75rem;
    }
}