// VARIABLER --------------------------------
@use 'abstracts/variables';

// UI ELEMENTER ----------------------------
@use 'components/cta';

@use 'components/icons';

// HEADER & FOOTER ------------------------
@use 'layout/header';

@use 'layout/footer';

// SEKTIONER -----------------------------
@use 'sections/why';

@use 'sections/skills';

@use 'sections/projects';

@use 'sections/abt';

@use 'sections/contact';


// GENEREL STYLING ------------------------------------------
* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 14rem;
}

body {
    background-color: $off-black;
    color: $off-white;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.main__section {
    margin-bottom: 50vh;
    padding: 0 $sm-space;
}


// FONTS -------------------------------------------------
p, li {
    font-family: $font-normal;
    color: $text-color;
    font-size: 1rem;
}

a {
    color: $off-white;
    text-decoration: none;

    &:hover {
        color: $light-green;
    }
}

.undertitle {
    color: $off-white;
    font-style: italic;
    font-size: 1.25rem;
    margin-bottom: 0.5em;
}

.cursive {
    font-family: $font-cursive;
    font-size: 1.75rem;
    letter-spacing: 0.15em;
}
.cursive__red {
    color: $light-red;
}
.cursive__green {
    color: $light-green;
}
.cursive__blue {
    color: $light-blue;
}

// OVERSKRIFTER ---------------------------
h4 {
    font-family: $font-normal;
    font-weight: 600;
}
h3, h4 {
    font-size: 1.25rem;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 2.25rem;
}
h1 {
    font-size: 2.5rem;
}
h1, h2, h3 {
    font-family: $font-bold;
    font-weight: 100;
    word-wrap: break-word;
    hyphens: auto;
}
// GENERELLE MEDIA QUERIES --------------------------------------------
@media screen and (min-width: $bp-sm) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3rem;
    }
    .main__section {
        margin-bottom: 40vh;
        padding: 0 $m-space;
    }
}

@media screen and (min-width: $bp-m) {
    html {
        font-size: 18px;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    .cursive {
        font-size: 2.5rem;
    }
    .undertitle {
        font-size: 1.75rem;
    }
}

@media screen and (min-width: $bp-lg) {
    html {
        font-size: 20px;
    }
}

// ANIMATIONER ------------------------------------------------------------------------------
@media (prefers-reduced-motion: no-preference) {
    .skills__section {
        scale: 0.5;
        opacity: 0;
        animation: fade-in forwards;
        animation-timeline: view();
        animation-range-start: entry;
        animation-range-end: 50%;
    }
    @keyframes fade-in {
        to {
            scale: 1;
            opacity: 1;
        }
    }
}