#abt__title {
    margin-bottom: $m-space;

    .cursive {
        color: $light-green;
    }
}

#abt__container {
    display: grid;
    gap: $m-space;
}

.abt__img {
    width: 100%;
    object-fit: cover;
    max-height: 75vh;
    margin-bottom: $sm-space;
    border-radius: 5px;
    border: 2px solid $off-white;
    filter: drop-shadow(5px 5px 20px rgba(256, 256, 256, 0.5));
}


@media screen and (min-width: 700px) {
    .abt__content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: $sm-space;
        max-width: 50rem;
    }

    .abt__img {
        margin-bottom: 0;
        max-height: 50vh;
    }
}

@media screen and (min-width: 1200px) {
    #abt {
        padding: 0 15rem;
    }
    .abt__content {
        max-width: 70rem;
    }
}