#abt__title {
    margin-bottom: $m-space;

    .cursive {
        color: $light-green;
    }
}

#abt__container {
    display: grid;
    gap: $m-space;
}

.abt__img {
    width: 100%;
    margin-bottom: $sm-space;
}


@media screen and (min-width: 700px) {
    .abt__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $sm-space;
        
        h3 {
            grid-area: 1/1/2/3;
        }
    }

    .abt__img {
        object-fit: contain;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .abt__content {
        grid-template-columns: 1fr 2fr;
    }
}