#cards {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $sm-space;

    p {
        text-align: center;
    }
}

#cards__container {
    display: flex;
    gap: $sm-space;
    justify-content: center;
    flex-wrap: wrap;

    .cta {
        padding: $m-space $sm-space;
    }

}