#contact {
    display: grid;
    gap: $m-space;
}

.contact__section {
    display: grid;
    gap: $sm-space;
    max-width: 50rem;
    margin: 0 auto;

    h2 {
        text-align: center;
    }

}

#contact__intro {

    img {
        margin: 0 auto;
    }
}