#footer {
    border-top: 1px solid #808080;
    border-radius: 20px;
    display: grid;
    gap: $sm-space;
    padding: $sm-space; 
}

#footer__social {
    img {
        max-width: 3rem;
    }
}

#footer__logo {
    max-width: 3rem;
    object-fit: contain;
}

#footer__title {
    display: flex;
    gap: $sm-space;
    align-items: flex-start;
}

#footer__name {
    p:first-of-type {
        font-family: 'Climate Crisis', arial, sans-serif;
        font-size: 16px;
    }
    .cursive {
        font-size: 16px;
        color: $light-green;
    }
}