#projects__title {
    margin-bottom: $m-space;

    .cursive {
        color: $light-red;
    }
}

#projects__container {
    display: grid;
    gap: $m-space;
    margin-bottom: $m-space;
}

.project__main {
    display: grid;
    gap: $sm-space;

    .project__content {
        display: grid;
        gap: $sm-space;
    }

    .icon {
        max-width: 2rem;
    }
}

.project__img--main, .project__img--secondary {
    width: 100%;
    border-radius: 5px;
}
.project__img--secondary {
    max-width: 30rem;
}
.project__img--secondary:nth-of-type(2) {
    grid-area: 4/1/5/2;
}
.link__sticker {
    display: flex;
    justify-self: flex-end;
    margin-top: $sm-space;

    img {
        max-width: 5rem;
    }
}

@media screen and (min-width: 700px) {
    .project__main {
        gap: $pc-grid-gap;

        .project__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: $pc-grid-gap;

            .project__text {
                align-self: center;
            }
        }
    }

    .project__img--main, .project__img--secondary {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .project__img--secondary:nth-of-type(2) {
        grid-area: 2/1/3/2;
    }
}

@media screen and (min-width: 1200px) {
    .project__main {
        .icon {
            max-width: 3rem;
        }
    }
}

@media screen and (min-width: 1700px) {
    #projects__title {
        margin-bottom: $m-space;
    }

    .project__main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $pc-grid-gap;

        .project__img--secondary:nth-of-type(2) {
            grid-area: 2/1/3/2;
        }

        .icons {
            grid-area: 2/1/3/3;
        }
    }
}
