#skills {
    display: grid;
    gap: $m-space;

    .cursive {
        color: $light-blue;
    }
}

.skills__section {
    text-align: center;

    .icons {
        padding-top: $sm-space;
    }
    .icon {
        max-width: 3rem;
    }
}

@media screen and (min-width: 700px) {
    #skills {
        gap: $lg-space;
    }
}

@media screen and (min-width: 1200px) {
    .skills__section {
        p {
            max-width: 60%;
            margin: 0 auto;
        }
        .icon {
            max-width: 4rem;
        }
    }
}