#skills {
    display: grid;
    gap: $m-space;
}

.skills__section {
    text-align: center;

    .icon {
        max-width: 3rem;
    }
}

@media screen and (min-width: $bp-sm) {
    #skills {
        gap: $lg-space;
    }
    .skills__section {
        p {
            max-width: 60%;
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: $bp-m) {
    .skills__section {
        .icon {
            max-width: 4rem;
        }
    }
}

@media screen and (min-width: $bp-lg) {
    #skills {
        padding: 0 15rem;
    }
}