$dark-red: #320303;
$dark-green: #092800;
$dark-yellow: #2B2C05;
$dark-blue: #002037;
$light-red: #FF8687;
$light-green: #91FF72;
$light-yellow: #FCFD80;
$light-blue: #8FCFFF;
$off-white: #F8FCFF;
$off-black: #000222;

$sm-space: 2rem;
$m-space: 4rem;
$lg-space: 8rem;
$pc-grid-gap: 3rem;

$bp-sm: 768px;
$bp-m: 1024px;
$bp-lg: 1400px;