// Jeg henter variablerne, og kalder dem under ét navn "abs"
@use '../abstracts' as abs;

// Styling for footer
#footer {
    display: grid;
    gap: abs.$sm-space;
    padding: abs.$sm-space; 

    ul {
        padding: 0;
        list-style-type: none;
    }
}

// "name-tag" for footeren
#footer__title {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}
// Disse hører under #footer__title. Jeg vil dog ikke skabe unødvendig nesting. Derfor står de uden for deres container
#footer__logo {
    max-width: 3rem;
    object-fit: contain;
}
#footer__name {
    p:first-of-type {
        font-family: abs.$font-bold;
        color: abs.$off-white;
    }
    .cursive {
        font-size: 1rem;
    }
}
// Ikoner for sociale medier i footeren
#social__icons {
    display: flex;
    gap: 1rem;

    img {
        max-width: 2.5rem;
    }
}

// Justeringer for at gøre footeren responsiv
@media screen and (min-width: abs.$bp-sm) {
    #footer {
        padding: abs.$m-space;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #footer__title {
        grid-area: 1/1/2/4;
    }
    #footer__logo {
        max-width: 4rem;
    }
    #footer__name {
        p:first-of-type {
            font-size: 1.5rem;
        }
        .cursive {
            font-size: 1.5rem;
        }
    }
    #footer__social {
        margin: 0 auto;
        #social__icons {
            justify-content: center;
        }
    }
}
// Ditto
@media screen and (min-width: abs.$bp-m) {
    #footer {
        padding: abs.$lg-space abs.$m-space;
        gap: abs.$sm-space;
    }
}
// Ditto
@media screen and (min-width: abs.$bp-lg) {
    #footer {
        padding: abs.$lg-space 12rem;
        gap: abs.$m-space;
    }
    #footer__title {
        gap: abs.$sm-space;
    }
    #footer__logo {
        max-width: 5rem;
    }
    #footer__name {
        p:first-of-type {
            font-size: 2rem;
        }
        .cursive {
            font-size: 2rem;
        }
    }
     #social__icons {
        
        img {
            max-width: 3rem;
        }
    }
}