#footer {
    display: grid;
    gap: $sm-space;
    padding: $sm-space; 
}

#footer__title {
    display: flex;
    gap: $sm-space;
    align-items: flex-start;
}

#footer__logo {
    max-width: 3rem;
    object-fit: contain;
}

#footer__name {

    p:first-of-type {
        font-family: 'Climate Crisis', arial, sans-serif;
        font-size: 16px;
    }
    .cursive {
        font-size: 16px;
    }
}

#social__icons {
    img {
        max-width: 3rem;
    }
}

@media screen and (min-width: $bp-sm) {
    #footer {
        padding: $m-space;
        grid-template-columns: 1fr 1fr 1.5fr;
    }
    #footer__title {
        grid-area: 1/1/2/4;
    }
    #footer__logo {
        max-width: 5rem;
    }
    #footer__name {
        p:first-of-type {
            font-size: 30px;
        }
        .cursive {
            font-size: 30px;
        }
    }
    #footer__social {
        margin: 0 auto;
    }
     #social__icons {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}

@media screen and (min-width: $bp-m) {
    #footer {
        padding: $lg-space 10rem;
        gap: $m-space;
    }
}

@media screen and (min-width: $bp-lg) {
    #footer {
        padding: $lg-space 15rem;
    }
    #footer__logo {
        max-width: 7rem;
    }
    #footer__name {
        p:first-of-type {
            font-size: 40px;
        }
        .cursive {
            font-size: 40px;
        }
    }
     #social__icons {
        gap: 2rem;
        img {
            max-width: 4rem;
        }
    }
}