@use '../abstracts' as abs;

#header {
    min-height: 100vh;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: abs.$off-black;
    width: 100%;
    padding: abs.$sm-space;
    position: fixed;
    z-index: 100;
    filter: drop-shadow(0 5px 100px rgba(256, 256, 256, 0.5));

    #navbar__logo {
        max-width: 3rem;
    }

    #navbar__burger {
        color: abs.$off-white;
        font-size: 2rem;
    }

    #navbar__menu {
        display: none;
        flex-direction: column;
        gap: abs.$sm-space;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: abs.$off-black;
        padding-left: abs.$sm-space;

        li {
            font-family: abs.$font-bold;
            font-size: 1.75rem;
            list-style-type: none;
        }

        &.active {
            display: flex;
        }
    }
}

#hero {
    padding: 12rem abs.$sm-space;

    .cursive {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: abs.$bp-sm) {
    #navbar {
        padding: abs.$sm-space abs.$m-space;

        #navbar__logo {
            max-width: 4rem;
        }

        #navbar__burger {
            display: none;
        }

        #navbar__menu {
            display: flex;
            flex-direction: row;
            position: static;
            width: auto;
            height: auto;
            background: none;
            padding-left: 0;

            li {
                font-size: 1.5rem;
            }
        }
    }

    #hero {
        padding: 15rem abs.$m-space;
    }
}


@media screen and (min-width: abs.$bp-m) {
    #navbar {
        #navbar__logo {
            max-width: 5rem;
        }

        #navbar__menu {
            li {
                font-size: 1.75rem;
            }
        }
    }
}