// Jeg henter variablerne, og kalder dem under ét navn "abs"
@use '../abstracts' as abs;

// Stylesheet til hvem-sektionen

#abt {
    max-width: abs.$bp-m;
    margin-left: auto;
    margin-right: auto;
}
#abt__title {
    margin-bottom: abs.$m-space;
}
#abt__container {
    display: grid;
    gap: abs.$m-space;
}
// Styling af billederne
.abt__img {
    display: block;
    margin: 0 auto;
    max-height: 75vh;
    max-width: 100%;
    object-fit: cover;
    margin-bottom: abs.$sm-space;
    border-radius: abs.$rounded;
    border: 2px solid abs.$off-white;
    filter: drop-shadow(5px 5px 20px rgba(256, 256, 256, 0.5));
}

// Responsiv styling
@media screen and (min-width: abs.$bp-sm) {
    .abt__content {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        column-gap: abs.$sm-space;
    }
    .abt__img {
        margin-bottom: 0;
        max-height: 50vh;
    }
}
// Ditto
@media screen and (min-width: abs.$bp-m) {
    .abt__img {
        height: 75vh;
    }
}