// Jeg henter variablerne, og kalder dem under ét navn "abs"
@use '../abstracts' as abs;

// Stylesheet til kontakt-siden.

#contact {
    display: grid;
    gap: abs.$m-space;
}

// Generel styling til alle kontakt-sektioner
.contact__section {
    display: grid;
    gap: abs.$sm-space;
    max-width: abs.$bp-sm;
    margin: 0 auto;

    h2 {
        text-align: center;
    }

    p, li {
        font-size: 1rem;
    }
}

// Enkeltvis styling til de forskellige sektioner
#contact__intro {
    img {
        margin: 0 auto;
    }
}
#contact__container {
    text-align: center;

    p {
        font-size: 1rem;
        margin-bottom: 1em;
        color: abs.$off-white;
    }
}
#cv__text {
    text-align: center;
    margin-bottom: 0.5em;
}

// Responsiv styling
@media screen and (min-width: abs.$bp-sm) {
    .contact__section {
        p, li {
            font-size: 1.25rem;
        }
    }
    #contact__container {
        p {
            font-size: 2rem;
        }
    }
}