@use '../abstracts' as abs;

#contact {
    display: grid;
    gap: abs.$m-space;
}

.contact__section {
    display: grid;
    gap: abs.$sm-space;
    max-width: abs.$bp-sm;
    margin: 0 auto;

    h2 {
        text-align: center;
    }

    p, li {
        font-size: 1rem;
    }
}

#contact__intro {
    img {
        margin: 0 auto;
    }
}

#contact__container {
    text-align: center;

    p {
        font-size: 1rem;
        margin-bottom: 1em;
        color: abs.$off-white;
    }
}

@media screen and (min-width: abs.$bp-sm) {
    .contact__section {
        p, li {
            font-size: 1.25rem;
        }
    }
    #contact__container {
        p {
            font-size: 2rem;
        }
    }
}