#projects__title {
    margin-bottom: $m-space;
}

#projects__container--some, #projects__container--all {
    display: grid;
    gap: $m-space;
    margin-bottom: $m-space;
}

.project__main {
    display: grid;
    gap: $sm-space;

    .project__content {
        display: grid;
        gap: $sm-space;
    }

    .icons {
        justify-content: flex-start;
        padding: 0;
    }

    .icon {
        max-width: 2rem;
    }
}

.project__img--main, .project__img--secondary {
    width: 100%;
    border-radius: 5px;
}
.project__img--secondary {
    max-width: 30rem;
}
.project__img--secondary:nth-of-type(2) {
    grid-area: 4/1/5/2;
}
.link__sticker {
    display: flex;
    justify-self: center;
    margin-top: $sm-space;
    transition: 100ms ease-in-out;

    img {
        width: 12rem;
    }

    &:hover {
        scale: 1.15;
    }
}

@media screen and (min-width: $bp-sm) {
    .project__main {
        gap: $sm-space;

        .project__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: $sm-space;

            .project__text {
                align-self: center;
            }
        }
    }
    
    .project__img--main, .project__img--secondary {
        max-width: 100%;
        object-fit: cover;
    }
    .project__img--main {
        height: 100vh;
    }
    .project__img--secondary {
        height: 50vh;
    }
    .project__img--secondary:nth-of-type(2) {
        grid-area: 2/1/3/2;
    }

    #project__iba {
        .project__img--secondary {
            grid-area: 2/1/2/3;
        }
    }
    #project__playbook {
        .project__img--secondary {
            grid-area: 2/1/2/3;
        }
    }
    #project__cameleon {
        .project__img--secondary:nth-of-type(1) {
            grid-area: 1/1/2/2;
        }
    }
    #project__data {
        .project__img--secondary:nth-of-type(2) {
            grid-area: 2/2/3/3;
        }
    }
}

@media screen and (min-width: $bp-m) {
    .project__main {
        .icon {
            max-width: 3rem;
        }
    }
}

@media screen and (min-width: $bp-lg) {
    #projects__title {
        margin-bottom: $m-space;
    }

    .project__main {
        display: grid;
        grid-template-columns: 1fr 1.5fr;

        .project__content {
            grid-template-rows: 40vh 40vh;
        }

        .icons {
            grid-area: 1/1/2/3;
        }
    }

    .project__img--main, .project__img--secondary {
        height: 100%;
    }

    .link__sticker {
        img {
            width: 16rem;
        }
    }

    #project__iba {
        .project__main {
            grid-template-columns: 1fr 3fr;
        }
        .project__img--secondary {
            grid-area: 2/1/2/3;
        }
    }
    #project__greywolf {
        .project__main {
            grid-template-columns: 1fr 2fr;
        }
    }
    #project__godset {
        .project__main {
            grid-template-columns: 1fr 1.5fr;
        }
    }
    #project__cameleon {
        .project__main {
            grid-template-columns: 1fr 1.5fr;
        }
        .project__content {
            grid-template-columns: 1fr 1.25fr;
        }
        .project__img--secondary:nth-of-type(1) {
            grid-area: 1/1/2/2;
        }
    }
    #project__data {
        .project__img--secondary:nth-of-type(1) {
            grid-area: 1/1/2/2;
        }
        .project__img--secondary:nth-of-type(2) {
            grid-area: 2/2/3/3;
        }
    }
    #project__playbook {
        .project__main {
            grid-template-columns: 1fr 2fr;
        }
        .project__img--secondary {
            grid-area: 1/1/2/3;
        }
    }
    #project__harald {
        .project__main {
            grid-template-columns: 1fr 2fr;
        }
    }
}
