// Jeg henter variablerne, og kalder dem under ét navn "abs"
@use '../abstracts' as abs;

// Stylesheet til hvordan-sektionen

#skills {
    display: grid;
    gap: abs.$m-space;
    max-width: abs.$bp-m;
    margin-left: auto;
    margin-right: auto;
}

.skills__section {
    text-align: center;

    .icon {
        max-width: 3rem;
    }
}

// Responsivitet
@media screen and (min-width: abs.$bp-sm) {
    #skills {
        gap: abs.$m-space;
    }
    .skills__section {
        p {
            max-width: 70%;
            margin: 0 auto;
        }
        .icon {
            max-width: 3.5rem;
        }
    }
}