// Jeg henter variablerne, og kalder dem under ét navn "abs"
@use '../abstracts' as abs;

// Styling til Hvorfor-sektionen.
#why {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: abs.$bp-m;
}