// Jeg henter variablerne, og kalder dem under ét navn "abs"
@use '../abstracts' as abs;

// Styling for CTA'erne
.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    padding: 1rem;
    border: 2px solid abs.$off-white;
    border-radius: 15px;
    width: 15rem;
    transition: 100ms ease-in-out;

    // Text i CTA
    p {
        margin-bottom: 0;
        color: abs.$off-white;
        font-size: 1.25rem;
        font-style: italic;
    }

    // Når man hover over CTA
    &:hover {
        background-color: abs.$off-white;

        p {
            color: abs.$off-black;
        }
    }
}