@use '../abstracts' as abs;

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    padding: 1rem;
    border: 2px solid abs.$off-white;
    border-radius: 15px;
    width: 15rem;
    transition: 100ms ease-in-out;

    p {
        margin-bottom: 0;
        color: abs.$off-white;
        font-size: 1.25rem;
        font-style: italic;
    }

    &:hover {
        background-color: abs.$off-white;

        p {
            color: abs.$off-black;
        }
    }
}