.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: $sm-space;

    .icons__container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        .icon {
            object-fit: contain;
        }
    }
}