$light-red: #FF8687;
$light-green: #91FF72;
$light-blue: #8FCFFF;

$off-black: #000222;
$off-white: hsl(0, 0%, 90%);
$text-color: hsl(0, 0%, 70%);

$font-bold: 'Climate Crisis', arial, sans-serif;
$font-normal: 'DM Sans', arial, sans-serif;
$font-cursive: 'Aguafina Script', arial, sans-serif; 

$sm-space: 2rem;
$m-space: 4rem;
$lg-space: 8rem;
$pc-grid-gap: 3rem;

$bp-sm: 768px;
$bp-m: 1024px;
$bp-lg: 1400px;

$rounded: 10px;